/* to set the default look use the body tag */
body{
    /* removes any default padding and margin */
    margin: 0;
    padding: 0;
}
header{
    /*  set the background colour */
    background-color: #0aadca;
    /*  space INSIDE of an element */
    padding-top: 100px;
    padding-bottom: 100px;
    /* DON'T PUT LEFT OR RIGHT PADDING OR ELSE YOU ARE F#CKED */

    /* color of text in the header */
    color: #e2e6e2;
    /* put the text in the middle */
    text-align: center;
    /* size of text */
    font-size: 26pt;
    /* push the sections off the bottom of the header */
    margin-bottom: 50px;
}

h2{
    color: #0aadca;
}

section{
    /* set the width with max-width */
    max-width: 960px;
    /* automatically center a whole element */
    margin: auto;
}

p, ul{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}

img{
    float: right;
    margin-left: 20px;
}
/* change the link to be a different colour */
a{
    color: rgb(228, 49, 228);
}

#second{
    background-color: rgb(128, 243, 243);
    /* space inside the second section */
    padding: 20px;
    /* space inside the section */
    margin-bottom: 50px;
}